# Git
.git
.gitignore

# Go
vendor/
*.test
*.out

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / secrets
.env
.env.*
!.env.example

# config

config/config.yaml


# Documentation
README.md
docs/

# Docker
Dockerfile*
docker-compose*.yml

# Build artifacts
bin/
dist/
build/
tmp/

# Coverage
coverage/
*.coverprofile